/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-color: #ffe;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

li{
  list-style: none;
}

/* title */

#title{
   width: 1000px;
   margin: 0 auto;
 }

#blog_image{
  height: 400px;
  width: 1000px;
}

/* #blog_title {
  position: absolute;
  top: 200px;
  left: 200px;
  right: auto;
  text-shadow: 2px 2px 1px #666,
  -2px 2px 1px #666,
  2px -2px 1px #666,
  -2px -2px 1px #666;
}

#blog_title a:-webkit-any-link {
    color: #ffc;
    cursor: pointer;
    text-decoration: none;
}

#blog_title h1{
  font-size: 80px;
} */

/* header */

header{
  height: 60px;
  width: 1001px;
  background-color: #ff6;
  margin: 0 auto;
}

#header{
  font-size: 30px;
  line-height: 60px;
}

#header a:-webkit-any-link {
  color: #666;
  cursor: pointer;
  text-decoration: none;
}

.header_btn a{
  padding: 0 62px;
  float: left;
}

.header_btn a:hover{
  opacity: 0.8;
  background-color: #ffc;
}

/* main */

#main{
  width: 1002px;
  margin: 0 auto;
}

/* side_bar */

.side_bar{
  width: 300px;
  height: 2000px;
  float: right;
  border-left: 2px solid #fc6;
}

.profile_image{
  margin: 25px;
}

.profile{
  text-align: center;
  margin-bottom: 100px;
}

.profile h6{
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 25px;
}

.new{
  text-align: center;
}

.new h4{
  font-size: 35px;
  margin-top: 0;
}

/* main_list */

#main_list{
  width: 700px;
  height: auto;
}

#content{
  padding-bottom: 50px;
  border-bottom: 2px solid #fc9;
}

#picture{
  height: 200px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
}


#title{
  font-size: 30px;
  margin-left: 30px;
}

#title a:-webkit-any-link {
    color: #fc0;
    cursor: pointer;
    text-decoration: none;
}
